<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de Usuarios</title>
</head>
<body>
<!--Esto es un Menú-->

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="/home">Inicio</a></li>
    <li role="presentation"><a href="/agregar_producto">Agregar Productos</a></li>
    <li role="presentation"><a href="/listar_producto">Ver stock</a></li>
    <li role="presentation"><a href="/busqueda_producto">Buscar en el stock</a></li>
    <li role="presentation"><a href="/agregar_usuario">Agregar Usuario</a></li>
    <li role="presentation"><a href="/listar_usuario">Ver usuarios</a></li>
    <li role="presentation"><a href="/realizar_venta">Cargar venta</a></li>
    <li role="presentation"><a href="/listar_ventas">Historial de Ventas</a></li>
  </ul>
  
  <!--Esto es un contenido-->
  
{% if agregar_usuario.errors %}
<p style="color:red;"> Están mal los datos, revisar</p>
{% endif %}

<form action="" method="POST"> {% csrf_token %}
<table>
    {{agregar_usuario }}
</table>

<input type="submit", value="Cargar Usuario">

</form>
</body>
</html>